compile_commands.json
passthrough
.cache
build
.vscode/c_cpp_properties.json
.claude
*.o
bpf_programs/cachestat/cachestat
bpf_programs/cachestat/cachestat.skel.h
bpf_programs/cachestat/vmlinux.h
bpf_programs/syscounter/syscounter
bpf_programs/syscounter/syscounter.skel.h
bpf_programs/syscounter/vmlinux.h
*/__pycache__/*

# Benchmark artifacts
results/
benchmarks/config_save.json
